.bill
{
    position: fixed;
    left: 70%;
    width: 28%;
    top: 170px;
    height: 45vh;
    background-color: rgba(142, 235, 224, 0.781);
    border-radius: 20px;
        
    
}
.Head
{
    
    width: 80px;
    position: relative;
    text-align: center;
    left: 35%;
    font-size: 30px;
    font-weight: bolder;
    font-family: Comic Sans MS;
    /* color: rgb(221, 54, 32); */
    color: rgb(248, 60, 60);
    top: 12px;
}
.Amount
{
    
    width: 230px;
    position: relative;
    float: left;
    left: 23%;
    font-size: 17px;
    font-weight: 600;
    font-family: Comic Sans MS;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    border:2px solid rgba(16, 119, 76, 0.822);
    text-align: center;
    top: 6%;
}
.Tax
{
    
    width: 230px;
    position: relative;
    float: left;  
    font-size: 17px;
    font-weight: 600;
    font-family: Comic Sans MS;
    top: 10%;
    left: 23%;
    border:2px solid rgba(16, 119, 76, 0.822);
   margin-top: 10px;
   border-radius: 10px;
   background-color: white;
   padding: 5px;
    
   text-align: center;
}
.Total
{
   
    width: 230px;
    position: relative;
    float: left;
    left: 23%;
    font-size: 17px;
    font-weight: 600;
    font-family: Comic Sans MS;
    top: 11%;
    margin-top: 11px;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    border:2px solid rgba(16, 119, 76, 0.822);
    text-align: center;
}
span
{
    color: green;
    padding: 3px;
}
.checkout{
    cursor: pointer;
    width: 230px;
    position: relative;
    left: 24.5%;
    font-size: 17px;
    font-weight: 600;
    font-family: Comic Sans MS;
    top: 15%;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(199, 164, 199);
    padding: 5px;
    border: 2px solid purple;
    text-align: center;
    color: purple;
}
@media(max-width:400px)
{
    .bill
    {
        position: relative;
        margin: 5px;
       margin-top: 250px;
       width: 95%;
       left: 0%;
       padding: 5px;

       
    }
}